body {
  font-family: Arial, sans-serif;
}
.container {
  padding-left: 15%;
  padding-top: 10%;
}
#quiz-container {
  margin: 20px;
  border: 0.3px solid grey;
  padding: 20px;
  border-radius: 10px;
}
#question {
  padding-bottom: 10px;
}
button {
  margin: 5px;
}
#choices {
  padding-top: 4px;
}
#choices label {
  display: inline-block;
  margin-bottom: 10px;
}
#timer {
  margin-top: 20px;
  font-weight: bold;
}
.side {
  float: right;
  top: 0; /* Align to the top edge of the container */
  right: 0; /* Align to the right edge of the container */
  padding-top: 20px;
  padding-right: 120px;
}
#psi {
  height: 45px;
  width: 45px;
}
.timer {
  padding-left: 2%;
}
